<!-- 
  This is the footer section shown at the bottom of every page.
  It contains:
  - Copyright notice with the app name "SaadiSarthi"
  - Credit to the designer (required unless pro version is purchased)
-->
<footer id="footer" class="footer">
  <div class="copyright">
    <!-- Shows copyright with bold app name -->
    &copy; Copyright <strong><span>SaadiSarthi</span></strong
    >. All Rights Reserved
  </div>
  <div class="credits">
    <!-- 
      These comments are part of the template license.
      Keep them unless you bought the pro version.
      Link: https://shaadisharthi.theworkpc.com/license
    -->
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://SaadiSarthi.com/license/ -->
    Designed by <a href="https://shaadisharthi.theworkpc.com">ShaadiSharthi</a>
  </div>
</footer>